<ion-header class="margin-bottom">
  <ion-toolbar>
    <ion-title class="text-capitalize">Tu Consulta</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      Hola <b>{{data.nombre}}</b>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p> El Status de tu consulta es: </p> 
        <p> <b>{{ data.tramiteStatus}}</b> </p>
      </ion-text>
      <ion-text><p> Iniciaste el tramite el dia:  {{ data.inicioTramite}}</p></ion-text>
      <ion-text><p> Tu precaria vence el dia: {{data.vencimientoTramite}}</p></ion-text>
    </ion-card-content>
    <ion-card-header>  
      <ion-buttons>
        <ion-button href="/">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Back</ion-label>
        </ion-button>
        <ion-button (click)="saveFavorite()" >
          <ion-icon name="heart"  slot="start"></ion-icon>
          <ion-label> Guardar</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-card-header>
  </ion-card>

</ion-content>
