<app-header-home title="Consulta tu DNI"></app-header-home>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card mode="ios">
                    <ion-card-header color="primary">Consultemos el Status de tu DNI</ion-card-header>
                    <ion-card-content class="ion-padding" >
                        <ion-item>
                            <ion-label position="floating">Nro Expediente</ion-label>
                            <ion-input
                             [value]="exp"
                             type="number" 
                             inputmode="numeric"
                             required (ionChange)="getInput($event)">
                            </ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label>Fecha Nacimiento</ion-label>
                            <ion-datetime displayFormat="DD MM YYYY"
                                          [value]="fecha"
                                          max="{{ maxDate.toISOString() }}"
                                          min="1920-01-01"
                                          placeholder="Indique Fecha"
                                          (ionChange)="getDate( $event )"
                            ></ion-datetime>
                        </ion-item>
                    </ion-card-content>

                    <ion-card-header>
                        <ion-item lines="none">
                            <ion-label>Recordar Expediente.</ion-label>
                            <ion-checkbox [checked]="isChecked" (click)="setStorage($event)" color="primary" slot="start"></ion-checkbox>
                        </ion-item>

                        <ion-button (click)="getFromData()"> Consultar </ion-button>
                    </ion-card-header>

                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="myData">
            <ion-col>
                <ion-card>
                    <ion-content>
                        {{ myData.exp }}
                    </ion-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-item>
        <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
        <ion-text color="primary"><sub>Desarrollado por <b> Adelys Belen</b></sub></ion-text>
        </ion-item>
    </ion-toolbar>
</ion-footer>
